body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  background-color: #000;
  color: #fff;
}
main {
  width: 800px;
  margin: 0 auto;
}
.navgation {
  display: flex;
  justify-content: space-between;
  align-items: cneter;
  padding: 20px 60px;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.aside_left {
  width:200px;
}

.about_article {
  padding:20px 20px 40px;
  background-color: #eee;
}
.archives_article {
  padding:20px 20px 40px;
}
.aside_right {
  width: 200px;
}

.aside_title {
  font-style: italic;
}

.card_wrap {
  display: flex;
  justify-content: space-between;
}
.article_card {
  width: 360px;
  margin-bottom: 20px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

img {
  width: 100%;
  height: 150px;
}
.card_descrption {
  padding: 10px;
}
.show_details {
  color: #0170fe;
  padding: 10px 0px;
  cursor: pointer;
}